@import "../style/style.scss";

.section-6{
    width: 100%;
    &__coffee{
        width: 100%;
        background: #FAFAFA;
        border: 2px solid #ECECEC;
        display: flex;
        flex-direction: column;
        align-items: center;
        >p{ 
            text-align: center;
            font-family:Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 38px;
            line-height: 46px;
            text-align: center;
            letter-spacing: -0.02em;
            color: #111111;
            margin: 85px 0 54px 0;
            >span{
                font-family: Monument Extended;
                font-style: normal;
                font-size: 38px;
                line-height: 128.3%;
                color: #1ABC9C;
            }
            >img{
                width:63.39px;
            }
        }
        >button{
            background-color: $btn-text-color;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 21px;
            color: #FFFFFF;
            border: none;
            padding: 34px 117px;
            margin-bottom: 82px;
        }
    }
    &__main{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 85px;
        >p{
            box-sizing: unset;
            width: 668px;
            padding: 103px 54px;
            box-shadow: 0px 10px 40px rgba(80, 80, 80, 0.08);
            font-family:  Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 26px;
            line-height: 132%;
            letter-spacing: -0.02em;
            color: #111111;
            >span{
                text-transform: lowercase;
            }
        }
        &-img{
            width: 677px;
            height: 666px;
            background-color: #F5B096;
            position: relative;
            >img{
                width: 723px;
                position: absolute;
                bottom: 0px;
                left: -289px;
            }
            >p{
                >span{
                    font-family: Serenity;
                    font-size: 104px;
                    line-height: 139.5%;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #ffffff;
                }
                width: 269px;
                font-family: Monument Extended;
                font-style: normal;
                font-weight: normal;
                font-size: 39px;
                line-height: 47px;
                letter-spacing: -0.02em;
                color: #333334;
                position: absolute;
                left: 216px;

            }
        }
    }
    &__footer{
        width: 100%;
        box-shadow: 0px 10px 40px rgba(80, 80, 80, 0.08);
        padding: 52px 65px;
        >p{
            margin: 0;
            padding: 0;
            font-family:Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 132%;
            letter-spacing: -0.02em;
        }
    }
}


@media (max-width:1440px){
    .section-6__coffee{
        >p{
            font-size: 38px;
            >span{
                font-size: 46px;
            }
            >img{
                width: 63,39px;
            }
        }
    }
    .section-6__main{
        >p{
            padding: 66px 40px 25px 40px;
            font-size: 23px;
        }
        &-img{
            width: 468px;

            >img{
                left: -300px;
            }
            >p{
                left: 180px;
            }
        }
    }
    .section-6__footer{
        >p{
            font-size: 23px;
        }
        padding: 50px 22px;
    }
}
@media (max-width:1024px){
    .section-6__coffee{
        >p{
            font-size: 30px;
            >span{
                font-size: 36px;
            }
            >img{
                width: 47px;
            }
        }
       
    }
    .section-6__main{
        >p{
            width: 500px;
            padding: 39px 26px 40px 27px;
            font-size: 20px;
        }
        &-img{
            width: 308px;
            height: 480px;
            >img{
                width: 523px;
                left: -220px;
            }
            >p{
                width: 166px;
                left: 120px;
                font-size: 23px;
                >span{
                    font-size: 67px;
                }
            }
        }
    }
    .section-6__footer{
        >p{
            font-size: 20px;
        }
        padding: 36px 21px;
    }
}
@media (max-width:768px){
    .section-6__coffee{
        >p{
            font-size: 25px;
            >span{
                font-size: 30px; 
            }
            >img{
                width:38.5px ;
            }
        }
        >button{
            font-size: 16px;
            padding: 35px 84px;
        }
    }
    .section-6__main{
        align-items: start;
        >p{
            padding: 27px 15px;
            font-size: 15px;
            width: 319px;
        }
        &-img{
            width: 266px;
            height: 544px;
            >img{
                width: 477px;
                // left: -200px;
            }
            >p{
                top: 100px;
                font-size: 20px;
                >span{
                    font-size: 60px;
                }
            }
        }
    }
    .section-6__footer{
        >p{
            font-size: 15px;
        }
        padding: 22px 4px;
    }
}
@media (max-width:480px){
    .section-6__coffee{
        >p{
            font-size: 21px;
        }
        >button{
            padding: 28px 61px;
        }
    }
    .section-6__main{
        flex-wrap: wrap-reverse;
        >p{
            width: 100%;
            margin-top: 61px;
            padding: 24px 16px;
            font-size: 14px;
        }
        &-img{
            width: 100%;

            >img{
                width: 100%;
                left: 0;
            }
            >p{
                width: 138px;
                left: 65%;
                top: 25%;
            }
        }
    }
    .section-6__footer{
        >p{
            font-size: 14px;
        }
        padding: 25px 15px;
    }
}